
.container-xl {
    max-width: 1600px;
}

.panel-height {
    padding: 8%;
    max-height:325px;
    height: 100%;
    object-fit: contain;
  }

.panel-height-cover {
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
    padding-bottom: 5%;
    max-height:325px;
    height: 100%;
    object-fit: cover;
  }

.home-content {
    max-width: 75%;
}

.hidden { color: #FFFFFF }

div.nboutput.container div.output_area.stderr {
  background: #d0d2dd;
}
